.user-panel {
    height: 20em;
    row-gap: 1em;
    color: white;
    text-shadow: 1rem 1rem 1rem #000;
}


.user-avatar {
    width: 8em;
    height: 8em;
    background-color: #eee;
    border-radius: 50%;
    background-image: url("http://175.178.73.171/static/imgs/panda.jpg");
    background-size: cover;
    box-shadow: 0px 10px 5px black;
    transition: 1s ease ;
}

.user-avatar:hover {
    transform: rotateZ(-10deg);
} 

.user-link {
    color: white;
}