.dock {
  --scale: 1;
  /* position: fixed; */
  /* top: 0; */
  width: 100%;
  height: 35em;
  overflow: hidden;
  user-select: none;
  color: whitesmoke;
  text-indent: 5em;
}

.dock span {
  font-size: calc(30em * var(--scale));
  /* font-size: 30em; */
  transition: 500ms ease all;
}

.dock-item {
  text-shadow: 0px 5px 5px black;
}

@media screen and (max-width: 420px) {
  .dock {
    display: none;
  }
}