.header-area {
    height: 2em;
    font-size: 2em;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.8); */
    user-select: none;
    filter: url("#filter");
}

@media screen and (min-width: 420px) {
    .header-area{
        justify-content: flex-start;
    }
}
@media screen and (max-width: 420px) {
    .header-area{
        justify-content: center;
        color: white;
    }
}

.header-logo {
    width: 3em;
    height: 3em;
}