.dock {
  --scale: 1;
  position: fixed;
  top: 0;
  width: 100%;
  user-select: none;
  color: whitesmoke;
  text-indent: 1em;
}

.dock span {
  font-size: calc(3em * var(--scale));
  transition: 500ms ease all;
}

.dock-item {
  text-shadow: 0px 5px 5px black;
}

@media screen and (max-width: 420px) {
  .dock {
    display: none;
  }
}