.flex {
  display: flex;
}
.col {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.around-center {
  justify-content: space-around;
  align-items: center;
}
.around-stretch {
  justify-content: space-around;
  align-items: stretch;
}
.center-center {
  justify-content: center;
  align-items: center;
}
.between-center {
  justify-content: space-between;
  align-items: center;
}
.start-center {
  justify-content: flex-start;
  align-items: center;
}
.around-start {
  justify-content: space-around;
  align-items: flex-start;
}

.end-center {
  justify-content: flex-end;
  align-items: center;
}



/* 动画 */
.fade-enter, .fade-appear {
  opacity: 0;
}

.fade-enter.fade-enter-active, .fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
}
